*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

body{
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: $clr;
}

h1{
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 500;
    margin-bottom: 4rem;
}
h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;  
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 500;
}
h3{
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;  
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 500;
}

h4{
   
    text-align: center;  
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 300;
}


@media (max-width: 2560px) {
    .contacto_inicio{
        grid-template-columns: 300px 5fr 3fr ;
    }
    .container{
        max-width: 80%;
        min-height: 90vh;
    }
} 

@media (max-width: 1440px) {
    .contacto_inicio{
        grid-template-columns: 200px 5fr 3fr ;
    }
    .container{
        max-width: 80%;
        min-height: 90vh;
    }

}

@media (max-width: 1220px) {
    .contacto_inicio{
        grid-template-columns: 150px 5fr 3fr ;
        
    }
    .container{
        max-width: 80%;
        min-height: 90vh;
    }
}

@media (max-width: 1024px) {
    h1{
        margin-top: 5rem;
    }
    
    .contacto_inicio{
        grid-template-columns: 100px 5fr 3fr ;
    }
    .container{
        max-width: 100%;
        min-height: 90vh;
    }
    .main_section{
        max-width: 100%;
        margin: 10px;
    }
    .info_cotacto_inicio{
        font-size: 14px;
        font-weight: 200;
    }
    .img_inicio{
        margin-top:2vh;
    }
    .main_header{
        height: 17rem;
        flex-direction: column;
    }
    .main_header .navegacion{
        margin-top: 14rem;
        width: 800px;
    }
    .main_header .navegacion .menu{
        width: 750px;
        gap:6rem
    }
    .main_header .navegacion ul li:nth-child(1).activo ~ .indicador
    {
        transform: translateX(calc((70px + 6rem) * 0));
    }
    .main_header .navegacion ul li:nth-child(2).activo ~ .indicador
    {
        transform: translateX(calc((70px + 6rem) * 1));
    }
    .main_header .navegacion ul li:nth-child(3).activo ~ .indicador
    {
        transform: translateX(calc((70px + 6rem) * 2));
    }
    .main_header .navegacion ul li:nth-child(4).activo ~ .indicador
    {
        transform: translateX(calc((70px + 6rem) * 3));
    }
    .main_header .navegacion ul li:nth-child(5).activo ~ .indicador
    {
        transform: translateX(calc((70px + 6rem) * 4));
    }

}