/* Destacados */
.prod_destacados{
    color: black;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
}

.d-flex {
    color: white;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}
.seccion_destacados{
    justify-items: center;
    margin-top: 10vh;

}


