/* Galeria */
.img_Galeria{
    @include flex(grid, stretch,stretch, 0, 1, 1);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 100%;
    .img{
        justify-self: stretch;
        align-self: stretch;
        margin-top: 5%;
        margin-left: 5%;
        max-width: 90%;
        max-height: 90%;
        transition: 2s;
        &:hover{
            margin-top: 0%;
            margin-left: 0%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}