/* Nosotros */
.main_nosotros{
    text-align: center;
    max-width: 50vw;
    margin: 0 auto;
    .div__main_nosotros{
        display: grid;
        margin-top: 20vh;
        grid-template-rows: 60vh 60vh 60vh;
        align-items: center;

        .titulo1{
            color: #fff;
            font-size: 48px;
            align-self: center;
        }
        .descripcion__nosotros{
            text-align: center;
            margin-bottom: 5vh;
            font-weight: 500;
            font-size: 20px;
            color: #fff;
        }

        
        
        .titulo2{
            grid-row: 2;
            font-size: 36px;
            color: #fff;
            align-self: center;
        }
        
        .ul__main_nosotros{
            grid-row: 2;
            list-style:none;
            font-weight: 500;
            margin-bottom: 5vh;
            color: #fff; 
            text-align: center;
            padding-left: 0rem;
        }
        
        .titulo3{
            grid-row: 3;
            font-size: 36px;
            color: #fff;
            align-self: center;
        }
        
        .ul__main_nosotros2{
            grid-row: 3;
            list-style:none;
            font-weight: 500;
            color: #fff; 
            text-align: center;
            padding-left: 0rem;
        }
    }
}